@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

.body{
    font-family: 'Montserrat';
}

.things_inform{
    position: absolute;
    top: 70px;
    left: 0;
    width: 320px;
    height: 2500px;
    border-right: 2px solid #d9d9d9;
    padding-top: 20px;
}

.fixed{
    position: absolute;
    width: 100%;
    height: 70px;
    background-color: black;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.other_things{
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 30px;
    margin-bottom: 5px;
}

.href:hover{
    color: #2B9522;
    transition: 0.2s;
    opacity: 1;
}

.href{
    text-decoration: none;
    color: black;
    font-size: 14px;
    opacity: 0.8;
}

.href1{
    color: #2B9522;
}

.poshyk1{
    background-color: white;
    margin-top: 15px;
    margin-bottom: 0px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    color: #828282;
    border-radius: 3px; 
    width: 720px;
    height: 40px;
    font-size: 15px;
}

.poshyk2{
    background-color: #2B9522;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white; 
    width: 80px;
    font-size: 15px;
    padding: 11px;
    margin: 10px;
}


.catalog{
    background-color: #4A4A4A;
    margin-bottom: 15px;
    margin-left: 30px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 10px; 
    width: 100px;
    height: 30px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
    justify-content: space-evenly;
}

.margin1{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.margin2{
    margin-left: 50px;
    margin-right: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}

a{
    text-decoration: none;
}

.img1{
    margin-left: 10px;    
}

.img2{
    margin-left: 0px;    
}

.poshyc1{
    margin-right: 500px;
    margin-left: 2px;   
}

.things{
    border-bottom: 2px solid #d9d9d9;
    padding: 20px;
}

.inform1{
    border-bottom: 2px solid #d9d9d9;
    margin-top: 5px;
    margin-bottom: 5px;
}

.other_thing{
    margin-left: 50px;
    margin-bottom: 7px;
}

.inform2{
    border-bottom: 2px solid #d9d9d9;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 14px;
    margin-left: 50px;
}

.other{
    text-decoration: none;
    color: black;
    margin-top: 5px;
    margin-bottom: 15px;
}

.other:hover{
    text-decoration: solid;
}

h2{
    color: #A0A0A0;
    font-size: 13px;
    margin-top: 10px;
}

.h2{
    margin-top: 10px;
}

h1{
    color: black;
    font-size: 22px;
}

table{
    margin-top: 100px;
    margin-left: 380px;
}

.img{
    margin-left: 25px;
    margin-bottom: 25px;
    margin-top: 20px; 
    transition: 1s;
}

.img:hover{
    width:150;
    margin-left: 15px;
    margin-top: 10px;
    transition: 1s;
}

.name{
    font-size: 13px;
    color: black;
}

.price{
    font-size: 20px;
    color: black;
}